.rightHeader-container{
    display: flex;
    flex-direction: row;
    background-color: #e8e9eb;
    justify-content: space-between;
    padding:10px;
    
}
.profile-container{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.search-menu-call-container{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    margin-top: 10px;
    justify-content: space-between;
}

.profile-logo{
    border-radius:50px;
    height:50px;
    width:70px;
}